.chales-container1 {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(65,54,5,1) 100%);
    padding-bottom: .1%;
}

p, li {
    font-size: 1.05em;
}

.chales-conteudo {
    font-size: 1.05em;
    border-left: 1px solid white;
    padding-left: 3%;
    width: 84%;
    text-align: justify;
    margin: 0 auto;
    line-height: normal;
}

.container-chale {
    width: 90%;
    margin: 6% auto 8% auto;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-fonte);
    border-radius: 8px;
}

.container-chale:last-child {
    margin: 6% auto 5.5% auto;
}

.container-chale h2 {
    padding: 5%;
    font-size: 1.3em;
}

.container-chale p {
    padding: 3.5% 0 0 0;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    line-height: normal;
}

.container-chale>.swiper {
    width: 90%;
    border-radius: 8px;
}

.container-chale>.swiper img {
    width: 100%;
    border-radius: 8px;
}

.container-chale ul {
    width: 90%;
    margin: 3% auto 0 auto;
    line-height: normal;
    list-style:inside;
}

.container-chale a{
    justify-content: center;
    text-decoration: none;
    color: var(--cor-destaque);
    display: flex;
    border-radius: 8px;
    margin: 3% 4% 5% auto;
    padding: 5%;
    width: 38%;
    border: 1px solid var(--cor-destaque);
}

.container-chale a:hover {
    transition-duration: .5s;
    background-color: var(--cor-destaque);
    color: var(--cor-fonte);
}