.fotos-chale {
    text-align: center;
}

.fotos-chale h2 {
    margin-top: 5%;
    font-size: var(--tamanho-fonte-titulo);
}

.container-imagens {
    margin-top: 6%;
}

.container-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-50 {
    width: 50%;
}

.img-100 {
    width: 100%;
}

.display-none-768 {
    display: none;
}

.nome-chale-footer {
    padding: 2%;
    text-align: end;
}