.container-footer {
    width: 90%;
    height: 38vh;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin: 4% auto 5% auto;
}

.container-footer__conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
}

.container-footer__conteudo img {
    width: 20%;
    margin-right: 2%;
}

.container-footer__conteudo h2 {
    color: var(--cor-fonte);
    font-size: var(--tamanho-fonte-conteudo);
    text-wrap: nowrap;
}

.container-footer ul {
    display: flex;
    width: 70%;
    max-width: 300px;
    justify-content: space-between;
    margin: 0 auto;
}

.container-footer li a {
    font-size: var(--tamanho-fonte-footer);
    color: var(--cor-footer);
    text-decoration: none;
}

.container-footer li a:hover {
    text-decoration: underline;
}

.container-footer p {
    line-height: normal;
    font-size: var(--tamanho-fonte-footer);
    text-align: center;
    color: var(--cor-footer);
}