footer section {
    padding: 4% 0 6% 0;
}

.footer__conteudo {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.footer__conteudo img {
    width: 10%;
    margin-right: 2%;
}

.footer__conteudo h2 {
    color: var(--cor-fonte);
    margin: auto 0;
}

.footer__conteudo2 p {
    padding-top: 3%;
    font-size: .8em;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    color: gray;
}