.info-contaier2 {
    background-color: var(--cor-principal);
    width: 90%;
    margin: 0 auto;
    padding: 3% 0 2% 0;
}

.info-contaier2__titulo {
    font-size: var(--tamanho-fonte-titulo);
    text-align: center;
    padding: 3%;
}

.info-container2__lista__itens {
    padding: 5%;
}

.info-container2__lista__itens:last-child {
    padding-bottom: 0;
}

.info-container2__lista__itens h2 {
    font-size: var(--tamanho-fonte-titulo);
    border-left: 2px solid var(--cor-fonte);
    padding: 0 5% 5% 5%;
}

.info-container2__lista__itens p {
    font-size: var(--tamanho-fonte-conteudo);
    text-align: justify;
    line-height: normal;
    border-left: 2px solid var(--cor-fonte);
    padding: 0 5%;
}