.nav-container {
    margin: 0 auto;
}

.nav-container__lista {
    height: 23vw;
    max-height: 120px;
    min-height: 65px;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    margin-top: -1px;
}

.nav-container__item {
    padding: 2% 10%;
    border: 2px solid transparent;
    text-decoration: none;
    color: var(--cor-fonte);
    font-size: var(--tamanho-fonte-nav);
    font-weight: 200px;
    text-transform: uppercase;
    font-family: var(--fonte-conteudo);
    position: relative;
    top: 3px;
}

.nav-container__item:hover {
    transition-duration: 0.4s;
    color: var(--cor-destaque);
}

.nav-container__lista button {
    width: 110%;
    padding: 11% 0;
    border-radius: 8px;
    border: 0;
    background-color: var(--cor-fonte);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-reservar);
    color: var(--cor-principal);
}

.nav-container__lista button:hover {
    transition: all .4s ease;
    background-color: var(--cor-destaque);
    color: hsl(0, 0%, 100%);
}