@import url(./nav.css);
@import url(./index-container1.css);
@import url(./index-container2.css);
@import url(./index-container3.css);
@import url(./chales-container1.css);
@import url(./chales.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'soria';
    src: url(../fonts/soria-font.ttf) format(truetype), url(../fonts/Vercetti-Regular.otf) format(opentype);
}

@font-face {
    font-family: 'vercetti';
    src: url(../fonts/Vercetti-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'summer';
    src: url(../fonts/Summer\ Dream\ Sans\ DEMO\ .ttf) format(truetype);
}

* {
    box-sizing: border-box;
}

:root {
    --fonte-titulo: 'soria';
    --fonte-conteudo: 'Open Sans', sans-serif;

    --cor-principal: black;
    --cor-secundaria: #111111;
    --cor-destaque: #bc9d02;
    --cor-fonte: white;
    --cor-footer: #C0C0C0;

    --tamanho-fonte-nav: 1.1em;
    --tamanho-fonte-reservar: 1.1em;
    --tamanho-fonte-nome-pousada: 2em;
    --tamanho-fonte-titulo: 1.3em;
    --tamanho-fonte-conteudo: 1.05em;
    --tamanho-fonte-footer: .9em;

    /* @media 768px */
    --tamanho-fonte-nav-768: 2em;
    --tamanho-fonte-reservar-768: 1.9em;
    --tamanho-fonte-nome-pousada-768: 4em;
    --tamanho-fonte-titulo-768: 2em;
    --tamanho-fonte-conteudo-768: 1.7em;
    --tamanho-fonte-footer-768: 1.5em;
}

body {
    font-family: 'Open Sans';
    letter-spacing: .1em;
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
}

hr {
    margin: 0;
}

@media screen and (min-width: 768px) {

    /* Nav */

    /* Font-Size */
    .nav-container__item {
        font-size: var(--tamanho-fonte-nav-768);
    }

    .nav-container__lista button {
        font-size: var(--tamanho-fonte-reservar-768);
        width: 120%;
        padding: 13% 0;
    }

    .nome-pousada {
        font-size: var(--tamanho-fonte-nome-pousada-768);
    }

    .container2__conteudo__texto h2,
    .chales-container1__div__blocos-dos-chales__container-chale h2,
    .fotos-chale h2 {
        font-size: var(--tamanho-fonte-titulo-768);
    }

    .container2__conteudo__texto p,
    .chales-container1__div__blocos-dos-chales__container-chale p,
    .chales-container1__div__blocos-dos-chales__container-chale li,
    .chales-container1__div__conteudo,
    .chales-container1__div__blocos-dos-chales__container-chale a {
        font-size: var(--tamanho-fonte-conteudo-768);
    }
    
    .chales-container1__div__blocos-dos-chales__container-chale a {
        width: 50%;
    }
    
    .container-footer__conteudo2 li a,
    .container-footer__conteudo2 p {
        font-size: var(--tamanho-fonte-footer-768);
    }
}


@media screen and (min-width: 1024px) {
        /* Chales */
        .chales-container1__div {
            margin-bottom: 3%;
        }
    
        .chales-container1__div__conteudo {
            margin-bottom: 4%;
        }
    
        .chales-container1__div__blocos-dos-chales {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .chales-container1__div__blocos-dos-chales__container-chale {
            width: 44%;
            margin: 2% 2% 2% 2%;
        }
    
        .chales-container1__div__blocos-dos-chales__container-chale:last-child {
            margin: 2% 2% 2% 2%;
        }
}


@media screen and (min-width: 1366px) {}