@import url(./nav.css);
@import url(./container1.css);
@import url(./container2.css);
@import url(./container3.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@font-face {
    font-family: 'soria';
    src: url(../fonts/soria-font.ttf) format(truetype), url(../fonts/Vercetti-Regular.otf) format(opentype);
}
@font-face {
    font-family: 'vercetti';
    src: url(../fonts/Vercetti-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'summer';
    src: url(../fonts/Summer\ Dream\ Sans\ DEMO\ .ttf) format(truetype);
}

:root {
    --fonte-titulo: 'soria';
    --fonte-conteudo: 'Open Sans', sans-serif;

    --cor-principal: black;
    --cor-secundaria: #111111;
    --cor-destaque: #a78d0d;
    --cor-fonte: white;
    --swiper-navigation-color: var(--cor-destaque);
}

body {
    font-family: 'soria';
    letter-spacing: .1em;
    background-color: var(--cor-principal);
}

hr {
    margin: 0;
}